#projects{
  background-color: #16181D;
  justify-content: center; 
  align-items: center;
}
#projects {
  padding-bottom: 144px;
}
.grid-item-projects {
  display: grid;
  width: 330px;
  height: 280px;
  background-color: var(--gray300);
  border-radius: 12px;
  gap:20px;
    img{
      width: 306px;
      height: 156px;
      margin: 12px auto 0px ;
      object-fit: cover;
      border-radius: 8px;
    }
}
.grid-item-projects:hover{
  border:solid 1px var(--gray400);
}
#text{
  display: grid;
  gap: 8px;
  margin: 0px 12px 12px 12px;
  p{
    padding: 0px 4px 4px 4px;
    font: var(--text-sm);
  color: var(--gray500);
  }
  span{
    padding: 4px 4px 0px 4px;
  }
}
