#services{
  background-color: var(--gray100);
  justify-content: center; 
  align-items: center;
}
#header-services{
  margin-top: 88px;
}
#grid-services {
  padding-bottom: 120px;
}
.grid-item-services {
  display: grid;
  padding: 20px;
  width: 280px;
  height: 155px;
  border:2px solid var(--gray200);
  border-radius: 12px;
    img{
      width: 48px;
      height: 48px;
    }
}
#text2{
  display: grid;
  gap: 8px;
  p{
    font: var(--text-sm);
  color: var(--gray500);
  }
}